<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>Document</title>
</head>
<body>
    <h2 id="loader">Loading...</h2>
    <div id="grafo_modo">
            <h2>Escolha o tipo de grafo</h2>
         <input type="radio" id="grafo_sem_pesos" name="grafo" value="grafo_sem_pesos" checked>
         <label for="grafo_sem_pesos">Grafo sem pesos</label>
         <input type="radio" id="grafo_com_pesos" name="grafo" value="grafo_com_pesos">
         <label for="grafo_com_pesos">Grafo com pesos</label>
    </div>
   <div id="container">
    <div class="grafo">
        <h2>Passo 1: Grafo a ser utilizado</h2>
        <p>Aqui está o grafo que será utilizado:</p>
        <div id="graphContainer"></div>
    </div>
  <form id="searchForm">
    <div class="metodos">
        <h2>O método que deseja utilizar</h2>
        <select id="methodSelect">
            <option value="amplitude">Amplitude</option>
            <option value="profundidade">Profundidade</option>
            <option value="prof_limitada">Profundidade limitada</option>
            <option value="aprof_iterativo">Aprofundamento iterativo</option>
            <option value="bidirecional">Bidirecional</option>

        </select>
        <select name="" id="methodSelect2">
             <option value="custo_uniforme">Custo Uniforme</option>
            <option value="a_estrela">A*</option>
            <option value="greedy">GREEDY</option>
            <option value=""> AIA*</option>
        </select>
        <div id="limite">
            <label id="labelNumber" for="number"></label>
            <input id="number"  type="number"> </input>
        </div>
    </div>
    <div>
        <h2>Passo 2: Vértice inicial</h2>
        <p>Escolha o vértice inicial:</p>
        <input type="text" id="startVertex" placeholder="Vértice inicial">
        <input type="text" id="endVertex" placeholder="Vértice final">
        <button id="startButton" type="submit">Iniciar Busca</button>
    </div>
     </form>

    <div class="resultado">
        <h2>Resultado da Busca</h2>
        <p id="caminho"></p>
        <div id="resultContainer"></div>
    </div>

   </div>


</body>
</html>
<script src="/static/grafo_cliente.js"></script>